site_name: Recursos DAM/DAW
site_url: https://jordicido.github.io/recursosDAMDAW

nav:
  - Java: java/index.md
  - Python: Python/index.md
  - Lenguajes de marcas: "Lenguajes de Marcas y Sistemas de Gesti贸n de la Informaci贸n/index.md"
  - Bases de datos:  "Bases de Datos/index.md"
  - Entornos de desarrollo: "Entornos de Desarrollo/index.md"
  - Sistemas inform谩ticos: "Sistemas Inform谩ticos/index.md"
  - Itinerario Personal para la Empleabilidad: "Itinerario Personal para la Empleabilidad/index.md"
  -  Evaluaci贸n Continua: "eva_continua.md"
  -  Certificaciones y Formaci贸n Complementaria: "Certificaciones y Formaci贸n Complementaria/index.md"

theme:
  name: material
  palette:
    # Palette toggle for light mode
    - scheme: default
      primary: lime
      accent: yellow
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode

    # Palette toggle for dark mode
    - scheme: slate
      primary: lime
      accent: yellow
      toggle:
        icon: material/brightness-4
        name: Switch to light mode

markdown_extensions:
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences
  - pymdownx.critic
  - pymdownx.caret
  - pymdownx.keys
  - pymdownx.mark
  - pymdownx.tilde
  - pymdownx.tasklist:
      custom_checkbox: true
  - attr_list
  - md_in_html